.testpage_FLAGS{ padding-top: 0; width: 100%; max-width: 140vh;min-width: 60vw;text-align:  center; justify-self:center; overflow: visible; }

.testpage_FLAGS>.testHeaderDefault{  display: grid; grid-template-columns:  1fr auto; margin-top: 3vh;;
  margin-bottom: 3vh; margin-left: 0; margin-right: 0; background: gray;
  padding: 2px 50px; color: white; opacity: 0.8; align-items: center;grid-gap: 50px
}
.testpage_FLAGS>.testHeaderDefault>.name{ font-size: 1.5em; font-weight: bold; text-align: left; }
.testpage_FLAGS>.testHeaderDefault>.time{ font-size: 1em; font-weight: bold; text-align: right;}

.testpage_FLAGS>.HelpTools{display: none;}

.testpage_FLAGS>.pagenatorDefault{
  background-color: transparent;
  display: inline-flex;
  justify-self:right;
  font-size: 1vmax;

  /* grid-template-columns: repeat(auto-fill,minmax(min-content,20px));  */
  grid-template-columns: repeat(auto-fill,3em);
  grid-column: 2em;
}
.testpage_FLAGS>.pagenatorDefault >.pageItem{
    /* display: grid;  */
    justify-self:stretch;
    justify-items:right;
margin-right:  0.3vw;
    align-self: center;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    background-color: white;
    border:1px solid lightgray;
    cursor:pointer;
    grid-template-areas: "num value";
    padding: 0.1vw;
    width: 2em;
  }
.testpage_FLAGS>.pagenatorDefault >.pageItem:hover{color: #ffffff;  background-color: grey;   border-color:  grey;  }
.testpage_FLAGS>.pagenatorDefault >.pageItem>.num{grid-area: num; justify-self:center;justify-items:center;display:grid; }
.testpage_FLAGS>.pagenatorDefault >.pageItem>.value{grid-area: value;display: none;}
.testpage_FLAGS>.pagenatorDefault >.notclicable:hover{ color: black;  background-color: white; border-color:  white; cursor: default;}
.testpage_FLAGS>.pagenatorDefault >.selectedPageNumber{ color: #ffffff;  background-color: #d46d23; border-color:  grey;  }



/* Блокирующий экран--------------------------------------*/
.testpage_FLAGS>.BlockLayer{ right: 0; left:0; top:0; bottom:0; display: block;  position:fixed; background-color: white;
  z-index: 1;  opacity: 0;  align-content: center;  align-items: center;  align-self: center;}

/* Результат вопроса--------------------------------------*/
 .testpage_FLAGS>.QuestionResultDefault{
  background-color: white;
  border: 3px solid green;
  padding: 2vmax;
  z-index: 2;
  display: grid;
  grid-template-areas:
    "result"
    "stat"
    "wronganswertext"
    "rightanswertext"
    "picquestion"
    "comment";
  grid-template-columns: 1fr;
  position: absolute;
  top: 50%;
  top: calc( 50% + 50px );
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px;
  box-shadow: 0 0 5vw rgba(0,255,0,0.5);
  color:black;
  font-weight: bold;
  width: 75vw;
  grid-column-gap: 1em;
  max-width: 1024px;
  /* max-height: 70vh; */
  align-self: center;
  font-size: 2.3vmin;
}

.testpage_FLAGS>.wrong{ border: 1vmin solid red;box-shadow: 0 0 5vw rgba(255,0,0,0.5);}

.testpage_FLAGS>.QuestionResultDefault>.picquestion{
  margin-top: 2vh;
  grid-area: picquestion;
  max-height: 25vh;
  max-width: 50vw;
  justify-self:center;
  align-self: center;
  border: 1px solid black;
}

.testpage_FLAGS>.QuestionResultDefault>.textquestion{grid-area:textquestion;display: none;}
.testpage_FLAGS>.QuestionResultDefault>.picrightanswer{grid-area:picrightanswer;display: none;}
.testpage_FLAGS>.QuestionResultDefault>.textrightanswer{grid-area:textrightanswer;display: none;}
.testpage_FLAGS>.QuestionResultDefault>.picwronganswer{grid-area:picwronganswer;display: none;}
.testpage_FLAGS>.QuestionResultDefault>.textwromganswer{grid-area:textwromganswer;display: none;}
.testpage_FLAGS>.QuestionResultDefault>.result{ grid-area: result; font-size: 2.2em;  padding-bottom: 1vh;}
.testpage_FLAGS>.QuestionResultDefault>.result::after{content: attr(data-result);}
.testpage_FLAGS>.QuestionResultDefault>.stat{ grid-area: stat; font-size: 1.5em; padding-bottom: 1vh;border-bottom: 1px dotted grey; margin-bottom: 10px;}
.testpage_FLAGS>.QuestionResultDefault>.btnrepeat{  grid-area: btnrepeat;display: none;}
.testpage_FLAGS>.QuestionResultDefault>.btngomainpage{  grid-area: btngomainpage; display: none;}
.testpage_FLAGS>.QuestionResultDefault>.comment{
  grid-area: comment;
  text-align:justify;
  padding: 2vmin;
  background-color: white;
  font-weight: normal;
  color:black;
  border-radius: 0px;
  align-self:stretch;
  max-height: 50vw;
  overflow-y: scroll;
  display: none;
}
.testpage_FLAGS>.QuestionResultDefault>.rightanswertext{grid-area:rightanswertext; border: 1px solid lightgreen;}
.testpage_FLAGS>.QuestionResultDefault>.wronganswertext{grid-area: wronganswertext; }
.testpage_FLAGS>.QuestionResultDefault>.rightanswerpic{display: none;grid-area: rightanswerpic;display: none;}
.testpage_FLAGS>.QuestionResultDefault>.wronganswerpic{display: none;grid-area: wronganswerpic;display: none;}


  /* Блок вопроса--------------------------------------*/
.testpage_FLAGS .questionDefault{
      padding: 2vmax; margin-top: 2vh;
      justify-self:stretch;
      color:black;  background-color: white;
      border: 1px dotted grey;
      box-shadow: 0 0 50px rgba(0,0,0,0.5);
      font-size: 1vmin;
      display:grid;
      justify-items:center;
      grid-template-areas:  "questionpic "  "textquestion "   "answerlist"     "answerinputitem";
      overflow:hidden;
    }
    @media (orientation: landscape) {.testpage_FLAGS .questionDefault{
         display: inline-block;
          /* justify-self:center;
          width: 100%; */
          background: transparent;
          padding: 0;
          position: relative;
          height: 67vh;
          height: calc( 75vh - 50px);
          /* box-shadow: none; */
          border: none;
    }}


  /* Поле вопроса--------------------------------------*/
.testpage_FLAGS .questionDefault>.questionitemtext{grid-area:textquestion; align-self: center;font-size: 3.5em}
.testpage_FLAGS .questionDefault>.questionitempic{grid-area:questionpic;max-height: 30vh;max-width: 70vw;border: 1px solid gray;}
@media (orientation: landscape) {.testpage_FLAGS .questionDefault>.questionitempic{
width: auto;
height: 67vh;
height: calc( 75vh - 50px);
max-height: 75vh;max-width: 100vw;
}}


  /* Поле ответа--------------------------------------*/
.testpage_FLAGS .questionDefault>.answerlist{grid-area:answerlist; display: grid; grid-template-columns: 1fr; grid-gap: 1em; background-color: inherit; justify-self:stretch;margin-top: 3vh}
@media (orientation: landscape) {.testpage_FLAGS .questionDefault>.answerlist{
    position: absolute;
    font-size: 0.9em;
    font-weight:bold;
    background: transparent;
    bottom: 0px;
    left: 0;
    /* left: 50%;
    transform: translate(-50%,0); */
    padding: 1vmax;

}}

@media (orientation: landscape) {.testpage_FLAGS .Center>.answerlist{  left:auto;  right: auto;
  left: 50%; transform: translate(-50%,0); }}

  @media (orientation: landscape) {.testpage_FLAGS .Middle>.answerlist{  left:auto;  right: auto;
    top: 50%; transform: translate(0,-50%); }}




@media (orientation: landscape) {.testpage_FLAGS .Right>.answerlist{  left:auto;  right: 0;}}

@media (orientation: landscape) {.testpage_FLAGS .Top>.answerlist{  top:0;  bottom: auto;}}

@media (orientation: landscape) {.testpage_FLAGS .Bottom>.answerlist{ top:auto;  bottom: 0;}}


/* @media (orientation: landscape) {.testpage_FLAGS .questionDefault>.answerlist:hover{
    background: rgba(100, 100, 100, 0.5);
}} */


.testpage_FLAGS .questionDefault>.answerlist >.answeritem{
    display: grid;
    text-align: left;
    padding: 0.4vh 3vw;
    border: 1px solid red;
    color:white; background-color: black;
    font-size: 3em; font-weight: normal;
    align-items: center;
    grid-gap: 0.2em;
    grid-template-columns: repeat(3,minmax(min-content,max-content));
    grid-template-areas: "nn pic answertext";
    justify-self: stretch;
    min-height: 2em;
  }

  @media (orientation: landscape) {.testpage_FLAGS .questionDefault>.answerlist >.answeritem{
      background: transparent;
      background-color: rgba(0, 0, 0, 0.1);
      border: 0px solid red;
  }}

  @media (orientation: landscape) {.testpage_FLAGS .Invert>.answerlist >.answeritem{
        color: black;
  }}

  @media (orientation: landscape) {.testpage_FLAGS .Invert2>.answerlist >.answeritem{
        color: white;
        background-color: rgba(0, 0, 255, 0.3);
  }}


.testpage_FLAGS .questionDefault>.answerlist >.answeritem>.pic{grid-area:pic;}
.testpage_FLAGS .questionDefault>.answerlist >.answeritem>.nn{grid-area:nn; font-weight: bold;}
.testpage_FLAGS .questionDefault>.answerlist >.answeritem>.answertext{grid-area:answertext; font-weight: bold;}
.testpage_FLAGS .questionDefault>.answerlist >.item{}
.testpage_FLAGS .questionDefault>.answerlist >.answeritem:hover{ color:black; background-color: #858181; box-shadow:  0 0 25px rgba(0,130,255,1);}
.testpage_FLAGS .questionDefault>.answerlist >.itemselected{ color:#ffffff;  background-color: blue;  box-shadow: 0 0 25px rgba(255,0,0,1);}
.testpage_FLAGS .questionDefault>.answerlist >.itemselected:hover{ color:#000000; background-color: #858181; box-shadow: 0 0 25px rgba(255,0,0,1);}
.testpage_FLAGS .questionDefault>.answerlist >.wrongitem{ background-color: red; box-shadow: 0 0 25px rgba(255,0,0,1);}
.testpage_FLAGS .questionDefault>.answerlist >.rightitem{ background-color: green; box-shadow: 0 0 25px rgba(0,255,0,1); }

  /* Поле ввода ответа-------------------------------------*/
.testpage_FLAGS .questionDefault>.answerinputitem{grid-area:answerinputitem; font-family: "Arial"; background-color: lightgray;  color:black;  padding: 20px;justify-self:stretch; display: grid;
                             grid-template-areas: "answerinput answerbutton"; margin-top: 10vh;border-radius: 15px;grid-template-rows: minmax(min-content,max-content);align-items: stretch;
                             grid-column-gap: 1em;}
.testpage_FLAGS .questionDefault>.answerinputitem>.answerinput{grid-area:answerinput; font-size: 4em; color:inherit; border-radius: 15px; background-color: inherit;text-align: center; align-self: center; border: 3px solid gray;}
.testpage_FLAGS .questionDefault>.answerinputitem>.answerbutton{display: grid;grid-area:answerbutton; align-self: stretch; justify-self:stretch; border: 3px solid gray;border-radius: 15px; align-items: center;font-size: 3em;cursor: pointer;background-color: #d46d23}
.testpage_FLAGS .questionDefault>.answerinputitem>.answerbutton:hover{background-color: orange;border-color: black;}
  /* -------------------------------------------------------*/


  /*Форма результата теста*/
.testpage_FLAGS>.testres{
    display: grid;
    grid-row-gap: 1vmin;
    grid-template-areas:
      "th th" "ts tsp" "trs trs" "tss tss" "tsi tsi" "sns sns" "btnrepeat btngomainpage" "er er";
    color: black;
    padding: 1vmin;
    box-shadow: 0 0 50px rgba(55,55,55,1);
    background-color: white;
    margin: 30px;
    font-size: 1vw;
}

.testpage_FLAGS>.testres>.header      {grid-area:th;font-size: 3em; font-weight: 700;justify-self:center; }
.testpage_FLAGS>.testres>.stat        {grid-area:ts;font-size: 2em; font-weight: 700; justify-self:right;}
.testpage_FLAGS>.testres>.statpercent {grid-area:tsp;  font-size: 2em; font-weight: 700;justify-self:left;}
.testpage_FLAGS>.testres>.statscore   {grid-area:tss;  font-size: 2em; font-weight: 700;justify-self:center;display: none;}
.testpage_FLAGS>.testres>.statimg     {grid-area:tsi;  font-size: 2em; font-weight: 700;}
.testpage_FLAGS>.testres>.resumeString{grid-area:trs; font-size: 3em; font-weight: 700;}

.testpage_FLAGS>.testres>.btnrepeat{
 grid-area: btnrepeat;
 display: grid;
 color: white;
 align-self: stretch;
 align-items: center;
 justify-self:stretch;
 margin: 1vmin;
 background-color: orange;
 height: 3em;
 font-size: 1.5em;
 border: 1px solid gray;
}
.testpage_FLAGS>.testres>.btnrepeat:hover{background-color: green;}
.testpage_FLAGS>.testres> .btngomainpage{
  grid-area: btngomainpage;
  display: grid;
  color: white;
  align-self: stretch;
  align-items: center;
  justify-self:stretch;
  margin: 1vmin;
  background-color: orange;
  height: 3em;
  font-size: 1.5em;
  border: 1px solid gray;
}
.testpage_FLAGS>.testres>.btngomainpage:hover{background-color: green;}

.testpage_FLAGS>.testres>.snsharing   {grid-area:sns; font-size: 3em; font-weight: 700;margin-bottom: 5vh}
.testpage_FLAGS>.testres>.errors      { grid-area:er; margin-top: 10vh;}
.testpage_FLAGS>.hide{display: none;}
.testpage_FLAGS>.testres>.errors>.item{
    grid-template-areas:
      "n qi q  q"
      "n qi ra wa" ;
    grid-template-columns: 2em 8em 1fr 1fr;
    background-color: orange;
    padding: 5px;
    border: 1px solid black;
    display: grid;
    grid-gap: 1vmin;
    justify-self:stretch;
    margin-top: 1vmin;
    font-size: 1.7em;
  }

.testpage_FLAGS>.testres>.errors>.item>.num      { grid-area: n;  width: 2em; }
.testpage_FLAGS>.testres>.errors>.item>.qimg     { grid-area: qi;  width: 8em;  justify-self: left;  align-self:  center;}
.testpage_FLAGS>.testres>.errors>.item>.questtext{ grid-area: q;  background-color: white;background-color: inherit;}
.testpage_FLAGS>.testres>.errors>.item>.rightresult{ grid-area: ra; padding: 1vmin; text-align: left; background-color: green; color: white; }
.testpage_FLAGS>.testres>.errors>.item>.wrongresult{  grid-area: wa; padding: 1vmin; text-align: left; background-color: red; color: white; }
.testpage_FLAGS>.testres>.errors img{ width: 7em;}
.testpage_FLAGS>.testres>.errors>.item>.statres{  display: inline;  visibility:visible;}


.testpage_FLAGS .social_icon{}

.testpage_FLAGS .social_icon img{
  width: 3vmax;
  height: 3vmax;
  max-width: 40px;
  max-height: 40px;
}
