
.testpage_EL_SAFE{ padding-top: 0;  max-width: 140vh;min-width: 90vw;text-align:  center; justify-self:center; overflow: visible; display: grid; justify-items:stretch;
  font-family: 'GOST';
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "quest"
  "pagenator" ;
  grid-gap: 0;
  /* margin-top: 5vh; */
  min-height: 70vh;
  font-size: 2vmax;
  }

/*Cписок билетов*/

.testpage_EL_SAFE>.TicketsListDefault{
  max-width: 90vw;
  display: grid;
  grid-gap: 1em;
  grid-template-columns:  repeat(auto-fit, minmax(350px,450px));
  grid-auto-rows: 3em;
  margin: 1vh;
  justify-self: center;
  justify-items: center;
  align-self: center;
  align-items: center;
  font-size: 1.5vmax;
}

.testpage_EL_SAFE>.TicketsListDefault>.TicketsListItem{
  display: grid;
  padding: 0;
  background-color: white;
  position: relative;
  font-weight:normal;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  justify-self:stretch;
  align-self:stretch;
  font-size: 1.8em;
  overflow: hidden;
  /* min-height: 1em; */

}

.testpage_EL_SAFE>.TicketsListDefault>.TicketsListItem div{
    display: grid;
    align-self: center;
    align-items: center;
}

.testpage_EL_SAFE>.TicketsListDefault>.TicketsListItem:hover{
  border-radius: 10px;
  background-color: lightgray;
  border: 1px solid black;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
}



.testpage_EL_SAFE>.testHeaderDefault{
  grid-area:header;
  display: grid; grid-template-columns:  1fr auto; margin-top: 4vh;
  margin-bottom: 3vh; margin-left: 0; margin-right: 0; background: gray;
  padding: 2px 3vw; color: white; opacity: 0.8; align-items: center;grid-gap: 50px;
  justify-self:stretch;
}
.testpage_EL_SAFE>.testHeaderDefault>.name{ font-size: 1.3em; font-weight: bold; text-align: left; }
.testpage_EL_SAFE>.testHeaderDefault>.time{ font-size: 1em; font-weight: bold; text-align: right;}

.testpage_EL_SAFE>.HelpTools{display: none;}

.testpage_EL_SAFE>.pagenatorDefault{
  margin-top: 3vh;
  grid-area:pagenator;
  background-color: transparent;
  display: inline-flex;
  justify-self:center;
  font-size: 1.5vmax;
  grid-template-columns: repeat(auto-fill,3em);
  grid-column: 2em;
}
.testpage_EL_SAFE>.pagenatorDefault >.pageItem{
    /* display: grid;  */
    justify-self:stretch;
    justify-items:right;
    margin-right:  0.3vw;
    align-self: center;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    background-color: white;
    border-radius: 5px;
    border:1px solid lightgray;
    cursor:pointer;
    grid-template-areas: "num value";
    padding: 0.1vw;
    width: 2em;
  }
.testpage_EL_SAFE>.pagenatorDefault >.pageItem:hover{color: #ffffff;  background-color: grey;   border-color:  grey;  }
.testpage_EL_SAFE>.pagenatorDefault >.pageItem>.num{grid-area: num; justify-self:center;justify-items:center;display:grid; }
.testpage_EL_SAFE>.pagenatorDefault >.pageItem>.value{grid-area: value;display: none;}
.testpage_EL_SAFE>.pagenatorDefault >.notclicable:hover{ color: black;  background-color: white; border-color:  inherit; cursor: default;}
.testpage_EL_SAFE>.pagenatorDefault >.selectedPageNumber{ color: black;  background-color: lightgray; border-color:  grey;  }



/* Блокирующий экран--------------------------------------*/
.testpage_EL_SAFE>.BlockLayer{ right: 0; left:0; top:0; bottom:0; display: block;  position:fixed; background-color: white;
  z-index: 1;  opacity: 0;  align-content: center;  align-items: center;  align-self: center;}

/* Результат вопроса--------------------------------------*/
 .testpage_EL_SAFE>.QuestionResultDefault{
  background-color: white;
  border: 3px solid green;
  padding: 2vmax;
  z-index: 2;
  display: grid;
  grid-template-areas:
    "wronganswertext"
    "rightanswertext"
    "stat";
  grid-template-columns: 1fr;
  position: absolute;
  top: 50%;
  top: calc( 50% + 50px );
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 5vw rgba(0,255,0,0.5);
  color:black;
  font-weight: bold;
  width: 50vw;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  /* max-width: 1024px; */
  max-width: 100vh;
  align-items: center;
  /* max-height: 70vh; */
  align-self: center;
  font-size: 2.2vmax;
}

.testpage_EL_SAFE>.wrong{ border: 1vmin solid red;box-shadow: 0 0 5vw rgba(255,0,0,0.5);}

.testpage_EL_SAFE>.QuestionResultDefault>.picquestion{
  display: grid;
  position: absolute;
  /* margin-top: 2vh; */
  grid-area: picquestion;
  max-height: 25vh;
  max-width: 50vw;
  justify-self:center;
  align-self: center;
  align-items: center;
  border: 1px solid black;
  opacity: 0.3;
  top: 50%;
  top: calc( 50% + 50px );
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

/* .testpage_EL_SAFE>.QuestionResultDefault>.picquestion img{border: 0px none } */

.testpage_EL_SAFE>.QuestionResultDefault>.textquestion{grid-area:textquestion;display: none; }
.testpage_EL_SAFE>.QuestionResultDefault>.picrightanswer{grid-area:picrightanswer;display: none;}
.testpage_EL_SAFE>.QuestionResultDefault>.textrightanswer{grid-area:textrightanswer;display: none;}
.testpage_EL_SAFE>.QuestionResultDefault>.picwronganswer{grid-area:picwronganswer;display: none;}
.testpage_EL_SAFE>.QuestionResultDefault>.textwromganswer{grid-area:textwromganswer;display: none;}

.testpage_EL_SAFE>.QuestionResultDefault>.result{ grid-area: result; font-size: 2.2em;  padding-bottom: 1vh;z-index: 4;display: none;}
.testpage_EL_SAFE>.QuestionResultDefault>.stat{ grid-area: stat; font-size: 1em; padding-bottom: 1vh;border-bottom: 0px dotted grey; margin-bottom: 10px;z-index: 4;}
.testpage_EL_SAFE>.QuestionResultDefault>.comment{
  display: none;
  z-index: 4;
  grid-area: comment;
  text-align:justify;
  padding: 2vmin;
  background-color: white;
  font-weight: normal;
  color:black;
  border-radius: 0px;
  align-self:stretch;
  max-height: 50vw;
  overflow-y: scroll;
  display: none;
}
.testpage_EL_SAFE>.QuestionResultDefault>.rightanswertext{grid-area:rightanswertext;padding: 1vmax;border-radius: 10px;border: 0px solid lightgreen;z-index: 4; background-color: rgba(0,255,0,0.2);display: grid;align-self: stretch;align-items: center;font-size: 1.1em;}
.testpage_EL_SAFE>.QuestionResultDefault>.wronganswertext{grid-area: wronganswertext; z-index: 4;border-radius: 10px;background-color: rgba(255,0,0,0.5); text-decoration: line-through;display: grid;align-self: stretch;align-items: center;}
.testpage_EL_SAFE>.QuestionResultDefault>.rightanswerpic{display: none;grid-area: rightanswerpic;display: none;}
.testpage_EL_SAFE>.QuestionResultDefault>.wronganswerpic{display: none;grid-area: wronganswerpic;display: none;}


  /* Блок вопроса--------------------------------------*/
.testpage_EL_SAFE .questionDefault{
      grid-area:quest;
      padding: 4vmax; margin-top: 2vh;
      justify-self:right;
      color:black;  background-color: white;
      border: 1px solid grey;
      border-radius: 10px;
      box-shadow: 0 0 50px rgba(0,0,0,0.5);
      font-size: 1.3vmin;
      display:grid;
      justify-items:center;
      grid-template-areas:   "textquestion"   "answerlist"  "questionpic" "answerinputitem";
      overflow:hidden;
      position: relative;
      text-align: justify;
      /* max-width: 120vh; */
      /*width: 100% */
    }
    @media (orientation: landscape) {.testpage_EL_SAFE .questionDefault{
      margin-left: 10vw;
      margin-right: 10vw;
    }}


  /* Поле вопроса--------------------------------------*/
.testpage_EL_SAFE .questionDefault>.questionitemtext{grid-area:textquestion; align-self:stretch;font-size: 3.5em;font-weight: bolder;}
.testpage_EL_SAFE .questionDefault>.questionitempic{grid-area:questionpic;max-height: 40vh;max-width: 70vw;border: 0px solid gray; display: block;
 }
@media (orientation: landscape) {.testpage_EL_SAFE .questionDefault>.questionitempic{
display: block;
position: absolute;
right: 10px;
bottom:  -2vmax;
z-index: 2;
}}


  /* Поле ответа--------------------------------------*/
.testpage_EL_SAFE .questionDefault>.answerlist{grid-area:answerlist; display: grid; grid-template-columns: 1fr; grid-gap: 1em; background-color: inherit; justify-self:stretch;margin-top: 3vh;}
@media (orientation: landscape) {.testpage_EL_SAFE .questionDefault>.answerlist{

}}

@media (orientation: landscape) {.testpage_EL_SAFE .questionDefault>.answerlist:hover{
}}


.testpage_EL_SAFE .questionDefault>.answerlist >.answeritem{
    display: grid;
    text-align: left;
    padding: 0.4vh 1vw;
    border: 1px solid lightgray;
    color:black; background-color:white;
    font-size: 2.7em; font-weight: normal;
    align-items: center;
    grid-gap: 0.2em;
    grid-template-columns: repeat(3,minmax(min-content,max-content));
    grid-template-areas: "nn pic answertext";
    justify-self: stretch;
    min-height: auto;
    border-radius: 5px;
    font-weight: 700;
  }

  @media (orientation: landscape) {.testpage_EL_SAFE .questionDefault>.answerlist >.answeritem{
  }}

.testpage_EL_SAFE .questionDefault>.answerlist >.answeritem>.pic{grid-area:pic;}
.testpage_EL_SAFE .questionDefault>.answerlist >.answeritem>.nn{grid-area:nn; align-self: flex-start;}
.testpage_EL_SAFE .questionDefault>.answerlist >.answeritem>.nn::before{text-align: center;font-size:0.7em ;width:2vh; content:'' ;margin-right: 1vw;}
.testpage_EL_SAFE .questionDefault>.answerlist >.answeritem>.answertext{grid-area:answertext;align-self: flex-start;}
.testpage_EL_SAFE .questionDefault>.answerlist >.item{}
.testpage_EL_SAFE .questionDefault>.answerlist >.answeritem:hover{ color:black; background-color: #858181; box-shadow:  0 0 25px rgba(0,130,255,1);transform: scale(1.05);}
.testpage_EL_SAFE .questionDefault>.answerlist >.answeritem:hover>.nn::before{content: "\2713";}
.testpage_EL_SAFE .questionDefault>.answerlist >.itemselected{ color:#ffffff;  background-color: blue;  box-shadow: 0 0 25px rgba(255,0,0,1);}
.testpage_EL_SAFE .questionDefault>.answerlist >.itemselected:hover{ color:#000000; background-color: #858181; box-shadow: 0 0 25px rgba(255,0,0,1);}
.testpage_EL_SAFE .questionDefault>.answerlist >.wrongitem{ background-color: white; box-shadow: 0 0 25px rgba(255,0,0,1);}
.testpage_EL_SAFE .questionDefault>.answerlist >.wrongitem>.nn::before{content: '\2716';color: red}
.testpage_EL_SAFE .questionDefault>.answerlist >.wrongitem:hover>.nn::before{content: '\2716';}
.testpage_EL_SAFE .questionDefault>.answerlist >.rightitem{ background-color: white; box-shadow: 0 0 25px rgba(0,255,0,1); }
.testpage_EL_SAFE .questionDefault>.answerlist >.rightitem>.nn::before{content: '\2713';color: green}
  /* Поле ввода ответа-------------------------------------*/
.testpage_EL_SAFE .questionDefault>.answerinputitem{grid-area:answerinputitem; font-family: "Arial"; background-color: lightgray;  color:black;  padding: 20px;justify-self:stretch; display: grid;
                             grid-template-areas: "answerinput answerbutton"; margin-top: 10vh;border-radius: 15px;grid-template-rows: minmax(min-content,max-content);align-items: stretch;
                             grid-column-gap: 1em;}
.testpage_EL_SAFE .questionDefault>.answerinputitem>.answerinput{grid-area:answerinput; font-size: 4em; color:inherit; border-radius: 15px; background-color: inherit;text-align: center; align-self: center; border: 3px solid gray;}
.testpage_EL_SAFE .questionDefault>.answerinputitem>.answerbutton{display: grid;grid-area:answerbutton; align-self: stretch; justify-self:stretch; border: 3px solid gray;border-radius: 15px; align-items: center;font-size: 3em;cursor: pointer;background-color: #d46d23}
.testpage_EL_SAFE .questionDefault>.answerinputitem>.answerbutton:hover{background-color: orange;border-color: black;}
  /* -------------------------------------------------------*/


  /*Форма результата теста*/
.testpage_EL_SAFE>.testres{
    display: grid;
    grid-row-gap: 1vmin;
    grid-template-areas:
      "th th" "ts tsp" "trs trs" "tss tss" "tsi tsi" "sns sns" "btnrepeat btnrepeat" "er er";
    color: black;
    padding: 1vmin;
    box-shadow: 0 0 50px rgba(55,55,55,1);
    border-radius: 10px;
    background-color: white;
    margin: 1vh;
    font-size: 1.4vw;
}

.testpage_EL_SAFE>.testres>.header      {margin:5vh ;grid-area:th;font-size: 4em; font-weight: 700;justify-self:center; }
.testpage_EL_SAFE>.testres>.stat        {grid-area:ts;font-size: 3em; font-weight: 700; justify-self:right;}
.testpage_EL_SAFE>.testres>.statpercent {grid-area:tsp;  font-size: 3em; font-weight: 700;justify-self:left;}
.testpage_EL_SAFE>.testres>.statscore   {grid-area:tss;  font-size: 2em; font-weight: 700;justify-self:center;display: none;}
.testpage_EL_SAFE>.testres>.statimg     {grid-area:tsi;  font-size: 2em; font-weight: 700;}
.testpage_EL_SAFE>.testres>.resumeString{grid-area:trs; font-size: 3em; font-weight: 700;}

.testpage_EL_SAFE>.testres>.btnrepeat{
 grid-area: btnrepeat;
 display: grid;
 color: black;
 font-weight: bold;
 align-self: stretch;
 align-items: center;
 justify-self:stretch;
 margin: 1vmin;
 background-color: lightgray;
 border-radius: 10px;
 height: 3rem;
 font-size: 2.5em;
 font-weight: bold;
 border: 1px solid gray;
}
.testpage_EL_SAFE>.testres>.btnrepeat:hover{background-color: gray;box-shadow: 0 0 50px rgba(55,55,55,1);}
.testpage_EL_SAFE>.testres> .btngomainpage{
  grid-area: btngomainpage;
  display: none;
  color: white;
  align-self: stretch;
  align-items: center;
  justify-self:stretch;
  margin: 1vmin;
  background-color: orange;
  height: 3em;
  font-size: 1.5em;
  border: 1px solid gray;
}
.testpage_EL_SAFE>.testres>.btngomainpage:hover{background-color: green;}

.testpage_EL_SAFE>.testres>.snsharing   {grid-area:sns; font-size: 3em; font-weight: 700;margin-bottom: 5vh}
.testpage_EL_SAFE>.testres>.errors      { grid-area:er; margin-top: 5vh;padding: 2vmax;}
.testpage_EL_SAFE>.testres>.errors::before  { margin-top: 5vh;content: "Ошибки допущенные в тесте:";font-size: 3em;font-weight: bold;margin-bottom: 1vh;}
.testpage_EL_SAFE>.hide{display: none;}
.testpage_EL_SAFE>.testres>.errors>.item{
    grid-template-areas:
      "n q"
      "wa wa"
      "ra ra" ;
    grid-template-columns: 2em  1fr;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    display: grid;
    grid-gap: 1vmin;
    justify-self:stretch;
    margin-top: 1vmin;
    font-size: 1.7em;
  }

.testpage_EL_SAFE>.testres>.errors>.item>.num      { grid-area: n;  width: 2em; background-color: lightgray;border-radius: 10px; display: grid;align-self: flex-start;padding: 3px;}
.testpage_EL_SAFE>.testres>.errors>.item>.qimg     { grid-area: qi;  width: 8em;  justify-self: left;  align-self:  center; display: none;}
.testpage_EL_SAFE>.testres>.errors>.item>.questtext{ grid-area: q;  background-color: white;background-color: inherit; font-size: 1.6em; text-align: left;font-weight: bold;margin-bottom: 1vh;}
.testpage_EL_SAFE>.testres>.errors>.item>.rightresult{ grid-area: ra;  text-align: left; background-color: green; color: white; border-radius: 10px;padding: 1vh 3vw ;font-size: 1.4em;}
.testpage_EL_SAFE>.testres>.errors>.item>.wrongresult{  grid-area: wa;  text-align: left; background-color: red; color: white; border-radius: 10px;padding: 1vh 3vw ;font-size: 1.1em;}
.testpage_EL_SAFE>.testres>.errors img{ width: 7em;}
.testpage_EL_SAFE>.testres>.errors>.item>.statres{  display: inline;  visibility:visible;}


.testpage_EL_SAFE .social_icon{}

.testpage_EL_SAFE .social_icon img{
  width: 3vmax;
  height: 3vmax;
  max-width: 40px;
  max-height: 40px;
}
