/* Блокирующий экран--------------------------------------*/
.BlockLayer{ right: 0; left:0; top:0; bottom:0; display: block;  position:fixed; background-color: white;
  z-index: 1;  opacity: 0;  align-content: center;  align-items: center;  align-self: center;}

/* Результат вопроса--------------------------------------*/
 .QuestionResultDefault{
  background-color: green;
  padding: 2vw;
  z-index: 2;
  display: grid;
  grid-template-areas:
    "result result"
    "stat stat"
    "picquestion comment"
    "btnrepeat btngomainpage"
    "textquestion textquestion";
  grid-template-columns: repeat(2,minmax(0,max-content));
  position: absolute;
  top: 50%;  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted grey;
  border-radius: 5px;
  box-shadow: 0 0 2vw rgba(0,0,0,0.5);
  color:white;
  font-weight: bold;
  width: 90vw;
  grid-column-gap: 1em;
  max-width: 1024px;
  /* max-height: 70vh;  */
  align-self: center;
  font-size: 2.3vmin;
}

.wrong{  background-color: red;}

.QuestionResultDefault>.picquestion{
  grid-area: picquestion;
  max-height: 50vh;
  max-width: 25vw;
  align-self: center;
}

.QuestionResultDefault>.textquestion{grid-area:textquestion;}
.QuestionResultDefault>.picrightanswer{grid-area:picrightanswer;}
.QuestionResultDefault>.textrightanswer{grid-area:textrightanswer;}
.QuestionResultDefault>.picwronganswer{grid-area:picwronganswer;}
.QuestionResultDefault>.textwromganswer{grid-area:textwromganswer;}
.QuestionResultDefault>.result{ grid-area: result; font-size: 2.2em;  padding-bottom: 1vh;}
.QuestionResultDefault>.stat{ grid-area: stat; font-size: 2em; padding-bottom: 1vh;}
.QuestionResultDefault>.btnrepeat{  grid-area: btnrepeat;}
.QuestionResultDefault>.btngomainpage{  grid-area: btngomainpage;}
.QuestionResultDefault>.comment{
  grid-area: comment;
  text-align:justify;
  padding: 2vmin;
  background-color: white;
  font-weight: normal;
  color:black;
  border-radius: 0;
  align-self:stretch;
  max-height: 50vw;
  overflow-y: scroll;
}


/* Результат вопроса--------------------------------------*/
.QuestionResultDefault_0001{
  background-color: green;
  padding: 2vw;
  z-index: 2;
  display: grid;
  grid-template-areas:
    "result result"
    "stat stat"
    "picquestion comment"
    "btnrepeat btngomainpage";
  grid-template-columns: repeat(2,minmax(0,max-content));
  position: absolute;
  top: 50%;  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted grey;
  border-radius: 5px;
  box-shadow: 0 0 2vw rgba(0,0,0,0.5);
  color:white;
  font-weight: bold;
  width: 90vw;
  grid-column-gap: 1em;
  max-width: 1024px;
  max-height: 70vh;
  align-self: center;
  font-size: 2.3vmin;
}

.wrong{  background-color: red;}

.QuestionResult_0001>.picquestion{
  grid-area: picquestion;
  max-height: 50vh;
  max-width: 25vw;
  align-self: center;
}

.QuestionResultDefault_0001>.textquestion{grid-area:textquestion;}
.QuestionResultDefault_0001>.picrightanswer{grid-area:picrightanswer;}
.QuestionResultDefault_0001>.textrightanswer{grid-area:textrightanswer;}
.QuestionResultDefault_0001>.picwronganswer{grid-area:picwronganswer;}
.QuestionResultDefault_0001>.textwromganswer{grid-area:textwromganswer;}
.QuestionResultDefault_0001>.result{ grid-area: result; font-size: 2.2em;  padding-bottom: 1vh;}
.QuestionResultDefault_0001>.stat{ grid-area: stat; font-size: 2em; padding-bottom: 1vh;}
.QuestionResultDefault_0001>.btnrepeat{  grid-area: btnrepeat;}
.QuestionResultDefault_0001>.btngomainpage{  grid-area: btngomainpage;}
.QuestionResultDefault_0001>.comment{
  grid-area: comment;
  text-align:justify;
  padding: 2vmin;
  background-color: white;
  font-weight: normal;
  color:black;
  border-radius: 0;
  align-self:stretch;
  max-height: 50vw;
  overflow-y: scroll;
}
